
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bj1.jpg");
	background-position: center;
	background-size: cover;

}

#canvas{
	background-color: aliceblue;
	border: 10px dashed blue;

}
